h1 {
    text-align: center;
}

#head {
    border-bottom: 1px solid black;
}

#menu {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}

a {
    border: 1px solid gray;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}