* {
    box-sizing: border-box;
    font-family: "HANNA_11yrs";
}

@font-face {
    font-family: "HANNA_11yrs";
    src: url("./BMHANNA_11yrs.woff");
}

body {
    padding: 0;
    margin: 0;
    font-family:nanum;
}

a {
    color: gray;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 2px solid lightgray;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 1));
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.logo_img {
    margin-left: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: gray;
}
.menu li {
    list-style: none;
    padding:0 10px;
}

.menu li a:hover {
    color:black;
}

.profile_login {
    position: relative;
    height: 64px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.login, .join {
    border: 0;
    width: 80px;
    height: 40px;
    border-radius: 5px ;
    color: gray;
}

.login:hover, .join:hover {
    color:black;
}

main {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main h1 {
    color: orange;
    font-size: 48px;
}

main img {
    width:100%;
}

@media screen and (max-width: 767px){
    .menu {
        display: none;
    }
}